/* line 1, ../scss/404.scss */
#fof {
  margin: 20px 0 120px;
  text-align: center;
}
/* line 4, ../scss/404.scss */
#fof div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}
/* line 12, ../scss/404.scss */
#fof canvas, #fof img {
  position: relative;
  width: 960px;
  height: 480px;
  margin-bottom: 20px;
  z-index: 1;
  background: #000;
}
